html
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
    body
    br
    include ./partials/headerNormal
    h1 Login
    br
    div
    p Username:
    br
    input(type="textbox" id="username" size="50")
    br
    br
    p Password:
    br
    input(type="textbox" id="password" size="50")
    br
    br
    div
    div
    input(class="button" type="button" id="submit" onclick="submit()" value="Login")
	
script(src="/js/login.js")